magna-lowell-dual-tester/Magna.DualTester/Connected Services/SchedulerServiceReference/SchedulerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8045/SchedulerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Scheduler.core" />
  <xs:element name="GetLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Lineid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="GetLineResult" nillable="true" type="q1:GetLineResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLinesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="GetLinesResult" nillable="true" type="q2:GetLinesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="Sourcedata" nillable="true" type="q3:GetPlanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="GetPlanResult" nillable="true" type="q4:GetPlanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q5:SavePlanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SavePlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SavePlanResult" nillable="true" type="q6:TransactionResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePlanItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q7:ValidatePartsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidatePlanItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="ValidatePlanItemsResult" nillable="true" type="q8:ValidatePartsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetpartsForLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q9:GetPartsForLineRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetpartsForLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="GetpartsForLineResult" nillable="true" type="q10:getPartsforLineResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q11:GetNextOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="GetNextOrderResult" nillable="true" type="q12:GetNextOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipThisorder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q13:SkipOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipThisorderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SkipThisorderResult" nillable="true" type="q14:SkipOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveThisorder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q15:RemoveOrderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveThisorderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="RemoveThisorderResult" nillable="true" type="q16:RemoveOrderResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="SourceData" nillable="true" type="q17:GetScheduleRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Scheduler.core" minOccurs="0" name="GetLineScheduleResult" nillable="true" type="q18:GetScheduleResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>